language:
    java

sudo:
    false
    
dist: trusty

jdk:
    - oraclejdk8
    - oraclejdk9

matrix:
    allow_failures:
        - jdk: oraclejdk9
        
script:
    # - java -jar target/SampleCode.jar
    
    # For RoadRunner
    - mvn test
