<?xml version="1.0" encoding="UTF-8"?>

<!-- ################################################################################################################ -->
<!-- 	For information on how to change this configuration file,  -->
<!-- 	refer to https://logging.apache.org/log4j/2.x/manual/configuration.html -->
	
<!-- 	To enable masking of sensitive data, replace `%m` with `%maskedMessage` in the patterns below -->
<!-- ################################################################################################################  -->

<Configuration status="warn">
	<Properties>
		<Property name="log-path">./logs</Property>
		<Property name="logFileName">GABRIEL</Property>
	</Properties>
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{MM/dd/yy HH:mm:ss,SS:} [%t] %5p (%C{1}:%-1L) - %m%n"/>
		</Console>
		<RollingFile name="RollingFile"
			fileName="${log-path}/${logFileName}.log"
			filePattern="${log-path}/${logFileName}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d{MM/dd/yy HH:mm:ss,SS:} [%t] %5p (%C{1}:%-1L) - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy max="4"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug" additivity="true">
			<AppenderRef ref="RollingFile" />
		</Root>
		<Logger name="com.cybersource" level="debug" additivity="true">
			<AppenderRef ref="LogToConsole" level="debug" />
		</Logger>
		<Logger name="Api" level="debug" additivity="true">
			<AppenderRef ref="LogToConsole" level="debug" />
		</Logger>
		<Logger name="Invoker" level="debug" additivity="true">
			<AppenderRef ref="LogToConsole" level="debug" />
		</Logger>
		<Logger name="samples" level="debug" additivity="true">
			<AppenderRef ref="LogToConsole" level="debug" />
		</Logger>
	</Loggers>
</Configuration>